body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  background-color: #e3f2fd;
}
.navbar-nav {
  margin: auto;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.app-container {
  padding: 3rem;
}

.poll-headline {
  margin-bottom: 2rem;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 1rem auto;
  border: 1px solid #dad7d7;
  cursor: pointer;
}

.question-headline {
  margin-bottom: 2rem;
}

.avatar {
  height: 2rem;
  border-radius: 25px;
  margin-right: 0.4rem;
}

.logout {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 5rem;
    margin: .5rem 0;
    padding: .5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgba(0,0,0,.15);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    text-align: center;
    cursor: pointer;
}

.logout-link {
  color: rgba(0,0,0,.5);
  margin-bottom: 0;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-nav {
  margin-bottom: auto !important;
}

.card {
  margin: 10rem auto;
  width: 50%;
}

.card-body {
  padding: 0;
}

.dropdown {
  width: 100%;
}

.filter {
  width: 100%;
  max-width: 590px;
}

.votes {
  border: 1px solid #dad7d7;
  padding-top: 1rem;
  border-radius: 1rem;
  margin: 0 1rem;
}

.vote-highlighted {
  background-color: #C8E7B5;
}

.newQuestion {
  width: 50%;
  border: 1px solid #dad7d7;
  padding: 1rem;
  margin: auto;
}

.form-group {
  margin-bottom: 1.5rem !important;
}

.question-copy {
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}